body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0152a4;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

footer {
    background-color: #0055aa;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member-card {
    display: grid;
    grid-template-columns: 80px auto;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 1rem;
    align-items: center;
    background: #f9f9f9;
}

.member-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

form input, form button {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #0055aa;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #04386d;
}
